.la_testimonials--style-1 .testimonial_item--excerpt,
.la_testimonials--style-7 .testimonial_item--excerpt,
.three-font-family,
.highlight-font-family {
  font-family: $highlight-font-family;
}

h1,
.h1, h2,
.h2, h3,
.h3, h4,
.h4, h5,
.h5, h6,
.h6, .title-xlarge, .mega-menu .mm-popup-wide .inner > ul.sub-menu > li > a, .heading-font-family {
  font-family: $heading-font-family;
}

body, .la-blockquote.style-1 footer, .la-blockquote.style-2 footer {
  font-family: $body-font-family;
}

.background-color-primary, .item--link-overlay:before, .la_compt_iem .component-target-badget, .wc-toolbar .wc-ordering ul li:hover a, .wc-toolbar .wc-ordering ul li.active a, .header6-fallback-inner .dl-menuwrapper li:not(.dl-back) > a .mm-text:before, .dl-menu .tip.hot,
.mega-menu .tip.hot,
.menu .tip.hot, .blog_item--thumbnail-with-effect .item--overlay, .comment-form .form-submit input, .social-media-link.style-round a:hover, .social-media-link.style-square a:hover, .social-media-link.style-circle a:hover, .social-media-link.style-outline a:hover, .social-media-link.style-circle-outline a:hover, .la-members--style-6 .la-member__info-title-role:after, .la-members--style-7 .la-member__image .item--overlay, .la-members--style-8 .la-member__info-title a:before, .banner-type-hover_effect .banner--link-overlay:after, .la_testimonials--style-3 .testimonial_item--title:before, .la-newsletter-popup .yikes-easy-mc-form .yikes-easy-mc-submit-button:hover, .portfolios-loop.pf-style-3 .item--link-overlay, .la-timeline-wrap.style-1 .timeline-block .timeline-dot, .la-woo-product-gallery .woocommerce-product-gallery__trigger, .product--summary .single_add_to_cart_button:hover, .wc-tabs li a:after, .woocommerce-MyAccount-navigation li:hover a, .woocommerce-MyAccount-navigation li.is-active a, .registration-form .button, .la-loader.spinner1, .la-loader.spinner2, .la-loader.spinner3 [class*="bounce"], .la-loader.spinner4 [class*="dot"], .la-loader.spinner5 div, .socials-color a:hover, .iconboxes_demo_1_style_2.la-sc-icon-boxes .icon-boxes-inner:hover .btn, .service_demo_8 > .wpb_column > .vc_column-inner:before, .service_demo_8 > .wpb_column:hover > .vc_column-inner .btn, .circle-icon-lists.la-lists-icon .la-sc-icon-item > span, .coffee-menu .coffee-menu-item:hover:before, .wpb_widgetised_column .otw-widget-form .otw-submit {
  background-color: $primary-color;
}

.background-color-secondary, .la-pagination ul .page-numbers.current, .slick-slider .slick-dots button, .comment-form .form-submit input:hover, .social-media-link.style-round a, .social-media-link.style-square a, .social-media-link.style-circle a, [class*="vc_tta-la-"] .tabs-la-1 .vc_tta-tabs-list li a:after, .la-newsletter-popup .yikes-easy-mc-form .yikes-easy-mc-submit-button, .product--summary .single_add_to_cart_button {
  background-color: $secondary-color;
}

.background-color-three, .socials-color a {
  background-color: $three-color;
}

.background-color-body {
  background-color: $body-font-color;
}

.background-color-border {
  background-color: $border-color;
}

a:focus, a:hover, .search-form .search-button:hover, .slick-slider .slick-dots li:hover span,
.slick-slider .slick-dots .slick-active span, .slick-slider .slick-arrow:hover,
.la-slick-nav .slick-arrow:hover, .vertical-style ul li:hover a, .vertical-style ul li.active a, .filter-style-1 ul li:hover a, .filter-style-1 ul li.active a,
.filter-style-default ul li:hover a,
.filter-style-default ul li.active a, .filter-style-2 ul li:hover a, .filter-style-2 ul li.active a, .filter-style-3 ul li:hover a, .filter-style-3 ul li.active a, .wc-toolbar .wc-view-toggle .active, .wc-toolbar .wc-view-count li.active, .widget.widget_product_tag_cloud .active a,
.widget.product-sort-by .active a,
.widget.widget_layered_nav .active a,
.widget.la-price-filter-list .active a, .product_list_widget a:hover, #header_aside .btn-aside-toggle:hover, .header6-fallback .btn-aside-toggle:hover, .dl-menu .tip.hot .tip-arrow:before,
.mega-menu .tip.hot .tip-arrow:before,
.menu .tip.hot .tip-arrow:before, .blog_item--meta a:hover, .blog_item--meta-footer .la-favorite-link:hover i,
.blog_item--meta-footer .comments-link:hover i, .blog_item--meta-footer .la-sharing-posts:hover > span > i, .blog_item--meta-footer .la-favorite-link a.added i, .la-sharing-single-posts .social--sharing a:hover, .pf-info-wrapper .la-sharing-single-portfolio .social--sharing a:hover, ul.list-dots.primary > li:before,
ul.list-checked.primary > li:before, body .vc_toggle.vc_toggle_default.vc_toggle_active .vc_toggle_title h4, .wpb-js-composer [class*="vc_tta-la-"] .vc_active .vc_tta-panel-heading .vc_tta-panel-title, [class*="vc_tta-la-"] .tabs-la-3 .vc_tta-tabs-list li.vc_active a, [class*="vc_tta-la-"] .tabs-la-5 .vc_tta-tabs-list li.vc_active a, .subscribe-style-01 .yikes-easy-mc-form .yikes-easy-mc-submit-button:hover, .subscribe-style-04 .yikes-easy-mc-form .yikes-easy-mc-submit-button:hover, .wpb-js-composer .vc_tta.vc_tta-accordion.vc_tta-style-la-1 .vc_active .vc_tta-panel-title, .wpb-js-composer .vc_tta.vc_tta-accordion.vc_tta-style-la-2 .vc_tta-panel.vc_active .vc_tta-panel-title, .wpb-js-composer .vc_tta.vc_tta-accordion.vc_tta-style-la-3 .vc_tta-panel.vc_active .vc_tta-title-text, .la-timeline-wrap.style-1 .timeline-block .timeline-subtitle, .product_item .price ins, .products-list .product_item .product_item--info .add_compare:hover,
.products-list .product_item .product_item--info .add_wishlist:hover, .product--summary .social--sharing a:hover, .product--summary .add_compare:hover,
.product--summary .add_wishlist:hover, .cart-collaterals .woocommerce-shipping-calculator .button:hover,
.cart-collaterals .la-coupon .button:hover, .iconboxes_demo_3_style_1.la-sc-icon-boxes:hover .box-description a, .service_demo_6 .la-item-wrap:hover a, .iconboxes_demo_17_style_1.la-sc-icon-boxes:hover .box-description a, .wpb_widgetised_column .otw-widget-form .otw-input-wrap:after {
  color: $primary-color;
}

.text-color-primary {
  color: $primary-color !important;
}

.swatch-wrapper:hover, .swatch-wrapper.selected, .social-media-link.style-outline a:hover, .social-media-link.style-circle-outline a:hover, [class*="vc_tta-la-"] .tabs-la-3 .vc_tta-tabs-list li.vc_active a, .la-woo-thumbs .la-thumb.slick-current:before, .iconboxes_demo_1_style_2.la-sc-icon-boxes .icon-boxes-inner:hover .btn {
  border-color: $primary-color;
}

.border-color-primary {
  border-color: $primary-color !important;
}

.border-top-color-primary {
  border-top-color: $primary-color !important;
}

.border-bottom-color-primary {
  border-bottom-color: $primary-color !important;
}

.border-left-color-primary {
  border-left-color: $primary-color !important;
}

.border-right-color-primary {
  border-right-color: $primary-color !important;
}

.la-pagination ul .page-numbers, .filter-style-2 ul li a, .woocommerce-message,
.woocommerce-error,
.woocommerce-info, .form-row label, div.quantity, .widget_recent_entries .pr-item .pr-item--right a:not(:hover), .widget_recent_comments li.recentcomments a, .product_list_widget a, .product_list_widget .amount, #header_aside .btn-aside-toggle, .sidebar-inner ul.menu li.current-cat > a, .sidebar-inner ul.menu li.current-cat-parent > a, .sidebar-inner ul.menu li.open > a, .sidebar-inner ul.menu li:hover > a, .blog_item--meta-footer .la-favorite-link i + span,
.blog_item--meta-footer .comments-link i + span, .showposts-loop.blog-4 .entry-date, .showposts-loop.blog-5 .entry-date, .tags-list .tags-list-item, .single_post_item--meta .entry-date, .la-sharing-single-posts .social--sharing a, .author-info__name a, .post-navigation .post-title, .commentlist .comment-meta .comment-author, .comment-form label, .woocommerce-Reviews span#reply-title, .woocommerce-Reviews .comment_container .meta .woocommerce-review__author, .portfolio-nav i, .pf-info-wrapper ul .pf-info-value, .pf-info-wrapper .la-sharing-single-portfolio .social--sharing a, .la-blockquote.style-2, ul.list-dots.secondary > li:before,
ul.list-checked.secondary > li:before, .la-members--style-4 .member-social,
.la-members--style-3 .member-social,
.la-members--style-1 .member-social, [class*="vc_tta-la-"] .vc_tta-tabs-list li:hover > a,
[class*="vc_tta-la-"] .vc_tta-tabs-list li.vc_active > a, [class*="vc_tta-la-"] .tabs-la-1 .vc_tta-tabs-list li:hover > a:after,
[class*="vc_tta-la-"] .tabs-la-1 .vc_tta-tabs-list li.vc_active > a:after, [class*="vc_tta-la-"] .tabs-la-5 .vc_tta-tabs-list li a, .la_testimonials--style-1, .la_testimonials--style-3 .testimonial_item--title, .la_testimonials--style-6 .testimonial_item--title, .cf7-style-default .wpcf7-form-control-wrap .wpcf7-select,
.cf7-style-default .wpcf7-form-control-wrap .wpcf7-text,
.cf7-style-default .wpcf7-form-control-wrap .wpcf7-textarea, .cf7-style-01 .wpcf7-form-control-wrap .wpcf7-select,
.cf7-style-01 .wpcf7-form-control-wrap .wpcf7-text,
.cf7-style-01 .wpcf7-form-control-wrap .wpcf7-textarea, .la-newsletter-popup, .la-newsletter-popup .yikes-easy-mc-form .yikes-easy-mc-email:focus, .subscribe-style-01 .yikes-easy-mc-form .yikes-easy-mc-email:focus, .subscribe-style-01 .yikes-easy-mc-form .yikes-easy-mc-submit-button, .subscribe-style-03 .yikes-easy-mc-form, .la-circle-progress .sc-cp-t,
.la-circle-progress .sc-cp-v, .la-pricing-box-wrap.style-1 .pricing-heading, .products-list .product_item .product_item--info .add_compare,
.products-list .product_item .product_item--info .add_wishlist, .la-woo-thumbs .slick-arrow, .product--summary .single-price-wrapper .price, .product--summary .product_meta-top .sku_wrapper, .product--summary .product_meta_sku_wrapper, .product--summary .social--sharing a, .product--summary .group_table label, .product--summary .variations td, .product--summary .add_compare,
.product--summary .add_wishlist, .product--summary .add_compare:hover:after,
.product--summary .add_wishlist:hover:after, .wc-tabs li a, .wc-tab .wc-tab-title, .shop_table td.product-price,
.shop_table td.product-subtotal, .shop_table .product-name a, .cart-collaterals .shop_table, .cart-collaterals .woocommerce-shipping-calculator .button,
.cart-collaterals .la-coupon .button, .woocommerce > p.cart-empty:before, table.woocommerce-checkout-review-order-table, .wc_payment_methods .wc_payment_method label, .woocommerce-order ul strong {
  color: $secondary-color;
}

.text-color-secondary {
  color: $secondary-color !important;
}

input:focus, select:focus, textarea:focus, .la-pagination ul .page-numbers.current, .la-pagination ul .page-numbers:hover{
  border-color: $secondary-color;
}

.border-color-secondary {
  border-color: $secondary-color !important;
}

.border-top-color-secondary {
  border-top-color: $secondary-color !important;
}

.border-bottom-color-secondary {
  border-bottom-color: $secondary-color !important;
}

.border-left-color-secondary {
  border-left-color: $secondary-color !important;
}

.border-right-color-secondary {
  border-right-color: $secondary-color !important;
}

h1,
.h1, h2,
.h2, h3,
.h3, h4,
.h4, h5,
.h5, h6,
.h6, .title-xlarge, table th {
  color: $heading-color;
}

.text-color-heading {
  color: $heading-color !important;
}

.border-color-heading {
  border-color: $heading-color !important;
}

.border-top-color-heading {
  border-top-color: $heading-color !important;
}

.border-bottom-color-heading {
  border-bottom-color: $heading-color !important;
}

.border-left-color-heading {
  border-left-color: $heading-color !important;
}

.border-right-color-heading {
  border-right-color: $heading-color !important;
}

.star-rating, .filter-style-1 ul li a,
.filter-style-default ul li a, .product .product-price del,
.product .price del, .wc-toolbar .wc-view-count ul, [class*="vc_tta-la-"] .tabs-la-3 .vc_tta-tabs-list li:hover a {
  color: $three-color;
}

.text-color-three {
  color: $three-color !important;
}

[class*="vc_tta-la-"] .tabs-la-3 .vc_tta-tabs-list li:hover a {
  border-color: $three-color;
}

.border-color-three {
  border-color: $three-color !important;
}

.border-top-color-three {
  border-top-color: $three-color !important;
}

.border-bottom-color-three {
  border-bottom-color: $three-color !important;
}

.border-left-color-three {
  border-left-color: $three-color !important;
}

.border-right-color-three {
  border-right-color: $three-color !important;
}

body, .la_testimonials--style-2 .testimonial_item--role, .la-newsletter-popup .yikes-easy-mc-form .yikes-easy-mc-email, .subscribe-style-01 .yikes-easy-mc-form .yikes-easy-mc-email, table.woocommerce-checkout-review-order-table .variation,
table.woocommerce-checkout-review-order-table .product-quantity {
  color: $body-font-color;
}

.text-color-body {
  color: $body-font-color !important;
}

.border-color-body {
  border-color: $body-font-color !important;
}

.border-top-color-body {
  border-top-color: $body-font-color !important;
}

.border-bottom-color-body {
  border-bottom-color: $body-font-color !important;
}

.border-left-color-body {
  border-left-color: $body-font-color !important;
}

.border-right-color-body {
  border-right-color: $body-font-color !important;
}

input, select, textarea, table,
table th,
table td, .elm-loadmore-ajax a, .share-links a, .select2-container .select2-selection--single, .wc-toolbar .wc-ordering, .wc-toolbar .wc-ordering ul, .swatch-wrapper, .widget_shopping_cart_content .total, .calendar_wrap caption, .widget-border.widget, .widget-border-bottom.widget, .sidebar-inner .widget_archive .menu li a, .sidebar-inner .widget_tag_cloud .tagcloud a, .showposts-loop.blog-3 .blog_item--info, .showposts-loop.blog-2 .blog_item--info, .showposts-loop.search-main-loop .item-inner, .commentlist .comment_container, .la-blockquote.style-2, .la-blockquote.style-2 footer, .social-media-link.style-outline a, body .vc_toggle.vc_toggle_default, .la_testimonials--style-3 .testimonial_item--inner, .la-newsletter-popup .yikes-easy-mc-form .yikes-easy-mc-email, .subscribe-style-01 .yikes-easy-mc-form .yikes-easy-mc-email, .wpb-js-composer .vc_tta.vc_tta-accordion.vc_tta-style-la-1 .vc_tta-panel-title, .wpb-js-composer .vc_tta.vc_tta-accordion.vc_tta-style-la-3 .vc_tta-panel, .la-timeline-wrap.style-1 .timeline-line, .la-timeline-wrap.style-2 .timeline-title:after, .line-fullwidth, .shop_table.cart td, .iconboxes_demo_3_style_1.la-sc-icon-boxes .icon-boxes-inner {
  border-color: $border-color;
}

.border-color {
  border-color: $border-color !important;
}

.border-top-color {
  border-top-color: $border-color !important;
}

.border-bottom-color {
  border-bottom-color: $border-color !important;
}

.border-left-color {
  border-left-color: $border-color !important;
}

.border-right-color {
  border-right-color: $border-color !important;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, .title-xlarge{
  font-weight: 700;
}

/** end **/

.btn{
  color: #fff;
  background-color: $secondary-color;
  &:hover{
    background-color: $primary-color;
    color: #fff;
  }
  &.btn-primary{
    background-color: $primary-color;
    color: #fff;
    &:hover{
      color: #fff;
      background-color: $secondary-color;
    }
  }
  &.btn-outline{
    border-color: $border-color;
    color: $secondary-color;
    &:hover{
      color: #fff;
      background-color: $primary-color;
      border-color: $primary-color;
    }
  }
  &.btn-style-flat{
    &.btn-color-black{

    }
    &.btn-color-primary{
      background-color: $primary-color;
      &:hover{
        background-color: $secondary-color;
      }
    }
    &.btn-color-white{
      background-color: #fff;
      color: $secondary-color;
      &:hover{
        color: #fff;
        background-color: $primary-color;
      }
    }
    &.btn-color-white2{
      background-color: #fff;
      color: $secondary-color;
      &:hover{
        color: #fff;
        background-color: $secondary-color;
      }
    }
    &.btn-color-gray{
      background-color: $body-font-color;
      &:hover{
        background-color: $primary-color;
      }
    }
  }

  &.btn-style-outline{
    &:hover{
      border-color: $primary-color;
      background-color: $primary-color;
      color: #fff;
    }
    &.btn-color-black{
      border-color: $secondary-color;
      color: $secondary-color;
      &:hover{
        border-color: $primary-color;
        background-color: $primary-color;
        color: #fff;
      }
    }
    &.btn-color-primary{
      border-color: $primary-color;
      color: $primary-color;
      &:hover{
        border-color: $secondary-color;
        background-color: $secondary-color;
        color: #fff;
      }
    }
    &.btn-color-white{
      border-color: #fff;
      color: #fff;
      &:hover{
        border-color: $primary-color;
        background-color: $primary-color;
        color: #fff;
      }
    }
    &.btn-color-white2 {
      border-color: rgba(#fff,0.5);
      color: #fff;
      &:hover {
        border-color: $secondary-color;
        background-color: $secondary-color;
        color: #fff;
      }
    }
    &.btn-color-gray{
      border-color: $border-color;
      color: $secondary-color;
      &:hover{
        border-color: $primary-color;
        background-color: $primary-color;
        color: #fff;
      }
    }
  }
}


.woocommerce.add_to_cart_inline a{
  border-color: $border-color;
  color: $secondary-color;
  &:hover{
    background-color: $secondary-color;
    border-color: $secondary-color;
    color: #fff;
  }
}

.elm-loadmore-ajax a{
  color: $secondary-color;
  &:hover{
    color: $secondary-color;
    border-color: $secondary-color;
  }
}


form.track_order .button,
.products-list .product_item .product_item--info .add_to_cart_button,
.place-order .button,
.wc-proceed-to-checkout .button,
.widget_shopping_cart_content .button,
.woocommerce-MyAccount-content form .button,
.lost_reset_password .button,
form.register .button,
.checkout_coupon .button,
.woocomerce-form .button{
  background-color: $secondary-color;
  border-color: $secondary-color;
  color: #fff;
  border-radius: 3em;
  min-width: 150px;
  text-transform: uppercase;
  &:hover{
    background-color: $primary-color;
    border-color: $primary-color;
    color: #fff;
  }
}

.shop_table.cart td.actions .button{
  background-color: transparent;
  color: $secondary-color;
  border-color: $border-color;
  &:hover{
    color: #fff;
    background-color: $secondary-color;
    border-color: $secondary-color;
  }
}

.widget_price_filter .button{
  color: #fff;
  background-color: $primary-color;
  &:hover{
    color: #fff;
    background-color: $secondary-color;
  }
}

#masthead_aside,
#header_aside{
  background-color: $aside-background-color;
  color: $aside-text-color;
  h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, .title-xlarge{
    color: $aside-heading-color;
  }
  ul{
    &:not(.sub-menu){
      > li {
        > a{
          color: $aside-link-color;
        }
        &:hover{
          > a{
            color: $aside-link-hover-color;
          }
        }
      }
    }
  }
}

.header--aside{
  .header_component--dropdown-menu .menu{
    background-color: $aside-background-color;
  }
  .header_component > a{
    color: $aside-link-color;
  }
  .header_component:hover > a{
    color: $aside-link-hover-color;
  }
}

ul.mega-menu{
  .popup {
    li {
      > a{
        color: $menu-dropdown-link-color;
        background-color: $menu-dropdown-link-bg-color;
      }
      &:hover{
        > a{
          color: $menu-dropdown-link-hover-color;
          background-color: $menu-dropdown-link-hover-bg-color;
        }
      }
      &.active{
        > a{
          color: $menu-dropdown-link-active-color;
          background-color: $menu-dropdown-link-active-bg-color;
        }
      }
    }
  }
  .mm-popup-wide{
    .popup{
      li.mm-item-level-2{
        > a{
          color: $menu-wide-link-color;
          background-color: $menu-wide-link-bg-color;
        }
        &:hover{
          > a{
            color: $menu-wide-link-hover-color;
            background-color: $menu-wide-link-hover-bg-color;
          }
        }
        &.active{
          > a{
            color: $menu-wide-link-active-color;
            background-color: $menu-wide-link-active-bg-color;
          }
        }
      }
    }
  }
  .popup > .inner,
  .mm-popup-wide .inner > ul.sub-menu > li li ul.sub-menu,
  .mm-popup-narrow ul ul{
    background-color: $menu-dropdown-bg-color;
  }
  .mm-popup-wide .inner > ul.sub-menu > li li li:hover > a,
  .mm-popup-narrow li.menu-item:hover > a{
    color: $menu-dropdown-link-hover-color;
    background-color: $menu-dropdown-link-hover-bg-color;
  }
  .mm-popup-wide .inner > ul.sub-menu > li li li.active > a,
  .mm-popup-narrow li.menu-item.active > a{
    color: $menu-dropdown-link-active-color;
    background-color: $menu-dropdown-link-active-bg-color;
  }
  .mm-popup-wide .popup > .inner{
    background-color: $menu-wide-bg-color;
  }
  .mm-popup-wide .inner > ul.sub-menu > li > a{
    color: $menu-wide-heading-color;
  }
}

.site-main-nav .main-menu > li > a{
  color: $menu-lv-1-color;
  background-color: $menu-lv-1-bg-color;
}
.site-main-nav .main-menu > li.active > a,
.site-main-nav .main-menu > li:hover > a{
  color: $menu-lv-1-hover-color;
  background-color: $menu-lv-1-hover-bg-color;
}


.site-header .header_component > .component-target {
  color: $header-link-color;
}

.site-header .header_component--linktext:hover > a .component-target-text,
.site-header .header_component:not(.la_com_action--linktext):hover > a{
  color: $header-link-hover-color;
}

.site-header-top{
  background-color: $header-top-background-color;
  color: $header-top-text-color;
  .header_component .component-target{
    color: $header-top-text-color;
  }
  .header_component a.component-target{
    color: $header-top-link-color;
  }
  .header_component:hover a .component-target-text{
    color: $header-top-link-hover-color;
  }
}

.enable-header-transparency .site-header:not(.is-sticky){
  .header_component > .component-target{
    color: $header-transparency-text-color;
  }
  .header_component > a{
    color: $header-transparency-link-color;
  }
  .header_component:hover > a{
    color: $header-transparency-link-hover-color
  }
  .site-main-nav .main-menu > li > a{
    color: $header-transparency-menu-lv-1-color;
    background-color: $header-transparency-menu-lv-1-bg-color;
  }
  .site-main-nav .main-menu > li.active > a,
  .site-main-nav .main-menu > li:hover > a{
    color: $header-transparency-menu-lv-1-hover-color;
    background-color: $header-transparency-menu-lv-1-hover-bg-color;
  }
  .site-main-nav .main-menu > li.active:before,
  .site-main-nav .main-menu > li:hover:before{
    background-color: $header-transparency-menu-lv-1-hover-bg-color;
  }
}

.site-header-mobile{
  .site-header-inner{
    background-color: $header-mb-background-color;
  }
  .header_component > .component-target{
    color: $header-mb-text-color;
  }
  .mobile-menu-wrap{
    background-color: $mobile-menu-bg-color;
    .dl-menuwrapper ul{
      background: $mobile-menu-bg-color;
      border-color: rgba(140, 140, 140, 0.2);
    }
    .dl-menuwrapper li{
      border-color: rgba(140, 140, 140, 0.2);
    }
    .dl-menu > li > a{
      color: $mobile-menu-lv-1-color;
      background-color: $mobile-menu-lv-1-bg-color;
    }
    .dl-menu > li:hover > a{
      color: $mobile-menu-lv-1-hover-color;
      background-color: $mobile-menu-lv-1-hover-bg-color;
    }
    .dl-menu ul > li > a{
      color: $mobile-menu-lv-2-color;
      background-color: $mobile-menu-lv-2-bg-color;
    }
    .dl-menu ul > li:hover > a{
      color: $mobile-menu-lv-2-hover-color;
      background-color: $mobile-menu-lv-2-hover-bg-color;
    }
  }
}

.enable-header-transparency{
  .site-header-mobile{
    &:not(.is-sticky){
      .site-header-inner{
        background-color: $header-mb-transparency-background-color;
      }
      .header_component > .component-target{
        color: $header-mb-transparency-text-color;
      }
    }
  }
}


.cart-flyout{
  background-color: $aside-background-color;
  color: $aside-text-color;
  .cart-flyout__heading{
    color: $aside-heading-color;
    font-family: $heading-font-family;
  }
  .product_list_widget{
    a{
      color: $aside-link-color;
      &:hover{
        color: $aside-link-hover-color;
      }
    }
  }
  .widget_shopping_cart_content .total{
    color: $aside-heading-color;
  }
}

.footer-top{
  color: $footer-text-color;
  a{
    color: $footer-link-color;
    &:hover{
      color: $footer-link-hover-color;
    }
  }
  .widget{
    .widget-title{
      color: $footer-heading-color;
    }
  }
}

.footer-bottom{
  background-color: $footer-copyright-background-color;
  color: $footer-copyright-text-color;
  a{
    color: $footer-copyright-link-color;
    &:hover{
      color: $footer-copyright-link-hover-color;
    }
  }
}

.site-header-mobile .mobile-menu-wrap .dl-menu{
  border-width: 1px 0 0;
  border-style: solid;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.076);
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.076);
}
.site-header-mobile .mobile-menu-wrap .dl-menu li{
  border-width: 1px 0 0;
  border-style: solid;
}

.site-header-mobile .mobile-menu-wrap .dl-menuwrapper li.dl-subviewopen,
.site-header-mobile .mobile-menu-wrap .dl-menuwrapper li.dl-subview,
.site-header-mobile .mobile-menu-wrap .dl-menuwrapper li:first-child {
  border-top-width: 0;
}


.wpb-js-composer [class*="vc_tta-la-"] .vc_tta-panel-heading .vc_tta-panel-title .vc_tta-icon {
  margin-right: 10px;
}
.la-myaccount-page .la_tab_control li.active a,
.la-myaccount-page .la_tab_control li:hover a,
.la-myaccount-page .ywsl-label{
  color: $secondary-color;
}
.la-myaccount-page .btn-create-account:hover{
  color: #fff;
  background-color: $secondary-color;
  border-color: $secondary-color;
}

.btn.btn-style-outline-bottom:hover{
  background: none !important;
  color: $primary-color !important;
  border-color: $primary-color !important;
}

.product_item {
  .product_item--thumbnail {
    .wrap-addto {
      .button {
        color: $secondary-color;
        &.added,
        &:hover {
          background-color: $primary-color;
        }
      }
    }
    .add_to_cart_button{
      &:hover {
        background-color: $primary-color;
      }
    }
  }
}

.product--summary .add_compare.added,
.product--summary .add_wishlist.added,
.products-list .product_item .product_item--info .add_compare:hover,
.products-list .product_item .product_item--info .add_compare.added,
.products-list .product_item .product_item--info .add_wishlist:hover,
.products-list .product_item .product_item--info .add_wishlist.added{
  color: $primary-color;
}

.elm-loadmore-ajax .btn.btn-style-outline {
  padding: 0;
  border-width: 0 0 1px;
  min-width: 0;
  text-transform: none;
  font-size: 14px;
  font-weight: normal;
  &:hover{
    color: $primary-color;
    background-color: transparent;
  }
}

@media (max-width: 767px) {
  .la-advanced-product-filters{
    background-color: $aside-background-color;
    color: $aside-text-color;
    .widget-title{
      color: $aside-heading-color;
    }
    a{
      color: $aside-link-color;
      &:hover{
        color: $aside-link-hover-color;
      }
    }
  }
}

.nav-menu-burger{
  color: $secondary-color;
}