/* Small devices (phones, less than 767px) */
@media (max-width: $screen-xs-max ){

  .woocommerce-MyAccount-content,
  .woocommerce-MyAccount-navigation{
    width: 100%;
  }
  .woocommerce-MyAccount-navigation{
    margin-bottom: 20px;
    ul{
      padding: 0 10px;
      li{
        display: inline-block;
        a{
          padding: 10px;
        }
      }
    }
  }

  .letter-spacing--1{
    letter-spacing: 0;
  }
  .letter-spacing--2{
    letter-spacing: 0;
  }
  .letter-spacing--3{
    letter-spacing: 0;
  }
  .letter-spacing--4{
    letter-spacing: 0;
  }
  .letter-spacing--5{
    letter-spacing: 0;
  }

  .page-title-v1 .use-custom-text .page-title {
    font-size: 40px;
    border-bottom-width: 2px;
  }
  .blog_item--thumbnail{
    .format-content {
      padding: 30px;
    }
    &.format-quote .format-quote-content {
      font-size: 20px;
      .quote-author:before {
        margin: 0 0 10px
      }
    }
  }


  .woocommerce.add_to_cart_inline a{
    padding: 10px 30px;
  }
  .btn.btn-size-sm,
  .btn {
    padding: 7px 30px;
  }


  .wpb_column[class*="column-width-"]{
    width: 100%;
  }
  .site-content{
    + #sidebar_primary{
      margin-top: 30px;
    }
  }


  .slick-slider button.slick-prev {
    left: 0;
  }
  .slick-slider button.slick-next {
    right: 0;
  }

  .elm-countdown .countdown-section{
    width: 50%;
  }
  .vc_row[data-vc-stretch-content="true"] .la-timeline-wrap.style-2 {
    padding-left: 20px;
    padding-right: 20px;
    height: auto !important;
    min-height: 0;
  }
  .la-timeline-wrap.style-2 .timeline-block{
    width: 260px !important;
  }
  .la-timeline-wrap .slick-slider button.slick-prev {
    left: -30px;
  }
  .la-timeline-wrap .slick-slider button.slick-next {
    right: -30px;
  }
  .la-timeline-wrap.style-2 .slick-slider {
    height: auto !important;
  }
  .la-timeline-wrap.style-2 .timeline-block {
    top: 0 !important;
  }
  .la-timeline-wrap.style-2 .timeline-line {
    top: auto !important;
    bottom: 5px;
  }
  .la-timeline-wrap.style-2 .timeline-dot {
    top: auto !important;
    bottom: 0 !important;
  }
  .site-footer .menu-inline-item .menu li{
    margin: 0 0 15px;
    display: block;
  }
  .spacer-position-separator .heading-with-line .la-separator {
    display: none;
  }

  .la-advanced-product-filters{
    position: fixed;
    left: 0;
    top: 0;
    width: 300px;
    display: block !important;
    z-index: 100;
    height: 100%;
    overflow: auto;
    min-height: 100vh;
    visibility: hidden !important;
    opacity: 0 !important;
    @include transition(all 400ms ease-out);
    @include translate2d(-200px,0);
    .sidebar-inner {
      padding: 70px 20px;
      .widget {
        width: 100% !important;
      }
    }
  }
  .open-advanced-shop-filter{
    .la-advanced-product-filters{
      @include translate2d(0,0);
      visibility: visible !important;
      opacity: 1 !important;
    }
    .la-overlay-global{
      opacity: 0.7;
      visibility: visible;
    }
  }


  .commentlist{
    img.avatar{
      width: 50px;
      height: 50px;
      margin-right: 20px;
    }
    .comment-text{
      width: calc(100% - 70px);
      width: -webkit-calc(100% - 70px);
    }
    .depth-1 > .comment_container{
      margin-bottom: 25px;
      padding-bottom: 25px;
    }
  }

  .post-navigation .nav-next,
  .post-navigation .nav-previous{
    width: 100%;
  }

  .product--summary .product_meta_sku_wrapper{
    margin-bottom: 0;
  }

  .woocommerce-tabs{
    ul.wc-tabs {
      display: none !important;
    }
    .wc-tab{
      display: block !important;
      margin: 0 !important;
      .wc-tab-title{
        display: block;
      }
      .tab-content{
        display: none;
      }
      &.active{
        .tab-content{
          display: block;
        }
      }
    }
  }
  .cart-collaterals .cart_totals,
  .cart-collaterals .la-coupon-form,
  .cart-collaterals .la-shipping-form{
    width: 100%;
  }

  .site-header-mobile .site-header-inner,
  .site-header .site-header-inner{
    z-index: 10;
  }

  .la_testimonials--style-5{
    .item-inner {
      padding: 30px;
    }
  }
  .la_testimonials--style-6{
    .testimonial_item--inner{
      padding: 30px 30px 30px 100px;
    }
    .testimonial_item--image{
      width: 60px;
      height: 60px;
      left: 20px;
    }
    .testimonial_item--title{
      font-size: 16px;
    }
  }

  .showposts-loop.showposts-special .blog-special-right {
    padding-top: 15px;
    .entry-title{
      font-size: 16px;
    }
    .blog_item--inner{
      padding-top: 10px;
    }
    .blog_item--thumbnail{
      padding-right: 15px;
    }
    .blog_item--info{
      margin-bottom: 20px;
    }
    .blog_item--excerpt,
    .blog_item--meta-footer{
      display: none;
    }
  }

  .coffee-menu .coffee-menu-item{
    padding: 10px 10% 15px;
    .item--title{
      font-size: 20px;
    }
  }
  .wpb_widgetised_column{
    .otw-widget-form{
      .otw-input-wrap{
        width: 100%;
        &:after{
          top: 10px;
        }
        input{
          padding: 15px 40px 15px 20px;
        }
        select{
          height: 50px;
        }
      }
      .otw-button-wrap{
        margin-top: 0;
        padding-top: 0;
      }
      .otw-submit {
        padding: 16px;
        font-size: 16px;
      }
    }
  }
  .subscribe-style-04 .yikes-easy-mc-form{
    .EMAIL-label:before{
      display: none;
    }
    .yikes-easy-mc-email{
      padding: 15px 100px 15px 30px;
    }
    .yikes-easy-mc-submit-button{
      font-size: 14px;
      right: 20px;
      top: 11px;
    }
  }


  @media (max-width: 767px) {
    .cart-collaterals > .la-shipping-form{
      display: none !important;
    }
    .cart-collaterals .cart_totals .la-shipping-form {
      display: block !important;
      .woocommerce-shipping-calculator{
        max-width: 100% !important;
      }
    }
  }
}

@media (max-width: 600px) {

  body.pisces-body.enable-footer-bars{
    padding-bottom: 56px;
  }
  body.open-mobile-menu,
  body.open-advanced-shop-filter{
    overflow: hidden;
    .footer-handheld-footer-bar{
      bottom: -60px;
    }
  }

  .enable-footer-bars .footer-handheld-footer-bar{
    display: block;
  }

  .cart-flyout {
    width: 300px;
    padding: 15px;
    .cart-flyout__content{
      padding-top: 10px;
    }
    .widget_shopping_cart_content .button{
      padding: 13px 20px;
    }
  }
  .woocommerce-cart-form{
    div.quantity{
      .qty {
        height: 50px;
      }
      > span{
        height: 50px;
        line-height: 50px;
      }
    }
  }

  .woocommerce table.wishlist_table .product-name,
  .shop_table.woocommerce-cart-form__contents .product-price,
  .shop_table.woocommerce-cart-form__contents .product-quantity,
  .shop_table.woocommerce-cart-form__contents .product-subtotal{
    text-align: right;
  }
  table.shop_table_responsive tbody th,
  table.shop_table_responsive thead {
    display: none;
  }
  table.shop_table_responsive tr td {
    display: block;
    text-align: right;
    clear: both;
    min-width: 100%;
  }
  table.shop_table_responsive tr td[data-title]:before {
    content: attr(data-title) ": ";
    font-weight: bold;
    float: left;
    font-size: 13px;
    color: #343538;
  }

  table.shop_table_responsive{
    dl{
      dt,dd{
        display: inline-block;
        float: none;
      }
    }
  }

  .shop_table.cart.shop_table_responsive tr td.product-thumbnail {
    text-align: center;
  }
  .shop_table.cart.shop_table_responsive tr td.product-thumbnail img {
    max-width: 50px;
  }
  table.shop_table.shop_table_responsive tr td.product-remove {
    border-width: 0;
    padding: 0;
    text-align: left;
    position: relative;
  }
  .shop_table_responsive tbody tr:nth-child(2n){
    background-color: #fbfbfb;
  }

  table.cart.shop_table_responsive tr td {
    padding: 10px;
  }
  table.shop_table.shop_table_responsive tr td.product-remove a.remove {
    position: absolute;
    left: 10px;
    top: 21px;
  }
  table.cart.shop_table_responsive tr td.actions {
    overflow: hidden;
    padding: 10px 0;
  }

  table.cart.shop_table_responsive tr td.actions input#coupon_code {
    width: 100%;
    margin-bottom: 10px;
  }

  .shop_table.cart td.actions .btn{
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .shop_table.cart td.actions .button {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 10px;
    width: 100%;
  }
  .cart-collaterals .cart_totals,
  .cart-collaterals .la-coupon-form,
  .cart-collaterals .la-shipping-form{
    width: 100%;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .cart-collaterals .woocommerce-shipping-calculator,
  .cart-collaterals .la-coupon{
    max-width: none;
  }
  .woocommerce #customer_details {
    width: auto;
  }
  .woocommerce #order_review {
    width: 100%;
    padding: 20px 15px 0;
  }
  .woocommerce #order_review_heading {
    position: static;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
  }

  .commentlist ul.children{
    margin-left: 20px;
  }
  .commentlist .depth-3 ul.children{
    margin-left: 10px;
  }

  .products-list{
    .product_item{
      .product_item--thumbnail {
        width: 100%;
        margin-bottom: 15px;
      }
      .product_item--info {
        width: 100%;
        padding: 0;
      }
    }
  }
}