.portfolio-nav {
  margin-top: 60px;
  margin-bottom: 60px;
  .col-xs-4 {
    &:last-child{
      text-align: right;
    }
  }
  .nav-parents{
    text-align: center;
  }
  a{
    display: block;
    span{
      vertical-align: middle;
      display: inline-block;
      padding: 0 10px;
    }
  }
  i{
    vertical-align: middle;
    line-height: 30px;
    display: inline-block;
    font-size: 20px;
    @extend %text-color-secondary;
  }
}

.portfolio-single-page .la-carousel-wrapper {
  background: #fff;
}

.portfolio-single-page .slick-slider .slick-prev {
  left: 40px;
}
.portfolio-single-page .slick-slider .slick-next {
  right: 40px;
}

.pf-info-wrapper{
  ul{
    margin: 0;
    padding: 0 0 20px;
    list-style: none;
    li{
      margin-bottom: 15px;
    }
    .pf-info-label{
      width: 35%;
      display: inline-block;
    }
    .pf-info-value{
      @extend %text-color-secondary;
    }
  }
  .la-sharing-single-portfolio{
    .pf-info-label{
      display: inline-block;
      min-width: 15%;
    }
    .social--sharing{
      display: inline-block;
      a{
        margin: 0;
        background-color: transparent !important;
        @extend %text-color-secondary;
        &:hover{
          @extend %text-color-primary;
        }
      }
    }
  }
}