.single-post-content > .entry-thumbnail,
.single-post-content > .blog_item--thumbnail,
.single-post-content > .blog_item > .blog_item--thumbnail {
  margin-bottom: 25px;
}

.tags-list{
  margin-bottom: 20px;
  display: block;
  i{
    padding-right: 5px;
  }
  .tags-list-item{
    @extend %text-color-secondary;
  }
}

.single_post_item--category-link{
  display: inline-block;
}
.single_post_item--title .entry-title {
  margin: 0
}
.single_post_item--meta {
  margin-bottom: 30px;
  .entry-date{
    font-weight: bold;
    margin-right: 10px;
    @extend %text-color-secondary;
  }
}
.entry-content{
  margin-bottom: 20px;
  line-height: 24px;
  .wpb_content_element{
    margin-bottom: 20px;
  }
  p{
    margin-bottom: 20px;
  }
  .wpb_wrapper{
    > ul{
      padding: 0;
    }
  }
}

.entry-meta-footer{
  margin-top: 50px;
  margin-bottom: 50px;
  .tags-list{
    float: left;
    margin: 0;
  }
}

.la-sharing-single-posts{
  .social--sharing{
    a{
      margin: 0;
      background-color: transparent !important;
      @extend %text-color-secondary;
      &:hover{
        @extend %text-color-primary;
      }
    }
  }
}

.author-info{
  float: left;
  margin-bottom: 50px;
}
.author-info__avatar{
  display: table-cell;
  vertical-align: top;
  .author-info__avatar-inner {
    margin-right: 20px;
  }
  img.avatar{
    @include border-radius(50%);
  }
}
.author-info__description{
  display: table-cell;
  vertical-align: middle;
}
.author-info__bio,
.author-info__title {
  display: inline-block;
}
.author-info__name{
  a{
    text-transform: uppercase;
    font-weight: bold;
    @extend %text-color-secondary;
  }
}

.la-sharing-single-posts {
  float: right;
  margin-top: 10px;
}

.post-navigation{
  margin-bottom: 50px;
  @extend %clearfix;
  .nav-next,
  .nav-previous{
    float: left;
    width: 50%;
    text-align: left;
  }
  a{
    color: inherit;
    display: inline-block;
  }
  .nav-previous{
    padding-left: 30px;
    background: url(assets/images/arrows-stre-left.png) no-repeat left center;
  }
  .nav-next{
    float: right;
    text-align: right;
    padding-right: 30px;
    background: url(assets/images/arrows-stre-right.png) no-repeat right center;
  }
  .nav-links span {
    display: block;
  }
  .meta-nav{
    font-size: 10px;
    text-transform: uppercase;
  }
  .post-title{
    @extend %text-color-secondary;
  }
}

.page-header-vhide{
  .single-post-content{
    .type-post{
      > .entry-header,
      > .entry-meta{
        display: block;
      }
    }
  }
}

.entry-thumbnail.not-full {
  float: left;
  margin: 10px 30px 10px 0;
}


.single-post-detail{
  .title-related{
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 30px;
  }
}


.la-related-posts{
  .blog_item--meta{
    margin-bottom: 15px;
  }
}