.products{
  list-style: none;
  margin-bottom: 0;
  padding: 0;
  &.products-list{
    .item-inner{
      @extend %clearfix;
    }
  }
  .product-category{
    img {
      width: 100%;
      -webkit-transition: opacity 0.35s, -webkit-transform 1s;
      transition: opacity 0.35s, transform 1s;
    }
    .count{
      display: none;
    }
  }
}
.onsale{
  .save-total,
  .save-sale-price{
    display: none;
  }
}

.catalog-grid-1{
  &.grid-items{
    margin-left: -5px;
    margin-right: -5px;
  }
  .product-category{
    margin-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    .cat-information{
      position: absolute;
      width: 100%;
      bottom: 40px;
      left: 0;
      text-align: center;
    }
    .woocommerce-loop-category__title{
      display: inline-block;
      font-size: 12px;
      text-transform: uppercase;
      background-color: #fff;
      margin: 0;
      padding: 20px 30px;
      line-height: 20px;
      min-width: 160px;
      text-align: center;
    }
    .item--overlay{
      visibility: visible;
      opacity: 0.9;
      background-color: transparent;
      transition: all 450ms ease-out;
    }
    a{
      display: block;
      position: relative;
      overflow: hidden;
      &:hover{
        img{
          @include scale(1.2);
        }
        .item--overlay{
          background-color: rgba(#343538, 0.2);
        }
      }
    }
  }
}


.products.slick-slider .slick-list {
  padding-top: 10px;
}

.product_item--thumbnail{
  .elm-countdown{
    position: absolute;
    left: 0;
    bottom: 30px;
    width: 100%;
    .countdown-section{
      max-width: 24%;
      max-width: calc(24% - 2px);
      max-width: -webkit-calc(24% - 2px);
      background-color: #fff;
      margin: 2px;
      padding: 10px 0;
      width: 55px;
      &:before{
        display: none;
      }
      .countdown-amount{
        font-size: 16px;
        font-weight: bold;
      }
      .countdown-period{
        font-size: 12px;
        line-height: normal;
      }
    }
  }
}

.products-grid.grid-space-default{
  .product_item {
    .product_item--inner {
      margin-bottom: 25px;
    }
    .product_item--info-inner{
      padding-bottom: 20px;
    }
  }
}

.product_item{
  .product_item--thumbnail{
    position: relative;
    z-index: 2;
    .wrap-addto{
      position: absolute;
      right: 0;
      bottom: 70px;
      z-index: 3;
      visibility: hidden;
      opacity: 0;
      @include single-transition();
      .button{
        width: 38px;
        height: 38px;
        line-height: 38px;
        font-size: 0;
        display: block;
        @include border-radius(50%);
        @include single-transition();
        margin: 0 5px 10px;
        &:before{
          content: "\72";
          font-family: "pisces";
          font-size: 13px;
          display: block;
          height: 38px;
          line-height: 40px;
          text-align: center;
          width: 38px;
          text-transform: none;
        }
      }
      .quickview{
        &:before{
          content: "\64";
        }
      }
      .add_compare{
        &:before{
          content: "\76";
        }
      }
    }
    .add_to_cart_button{
      position: absolute;
      bottom: -50px;
      z-index: 3;
      width: 100%;
      left: 0;
      font-size: 10px;
      text-transform: uppercase;
      line-height: 24px;
      padding: 15px;
      letter-spacing: 1px;
      opacity: 0;
      visibility: hidden;
      @include single-transition();
      span{
        position: relative;
        padding-left: 20px;
        &:before{
          content: "\7a";
          font-family: pisces;
          text-transform: none;
          position: absolute;
          left: -5px;
          font-size: 14px;
          line-height: 1;
          top: 0;
        }
      }
    }
  }
  .product_item--thumbnail-holder{
    text-align: center;
    a{
      display: block;
      img{
        width: 100%;
        display: block;
      }
    }
  }
  .product_item--title{
    font-size: 14px;
    margin: 22px 0 8px;
    font-weight: normal;
    line-height: normal;
  }
  .product_item--info{
    position: relative;
    z-index: 2;
  }
  .added_to_cart {
    display: none;
  }
  .product_item--category-link,
  .item--excerpt{
    display: none;
  }
  .star-rating{
    display: block;
    margin-bottom: 10px;
  }
  &.prod-rating-off{
    .star-rating{
      display: none !important;
    }
  }
  .price{
    font-size: 18px;
    line-height: 1;
    display: inline-block;
    *{
      line-height: inherit;
    }
    del{
      font-size: 85%;
      color: inherit;
    }
    ins{
      @extend %text-color-primary;
    }
  }
  .swatch-wrapper{
    float: none;
    display: inline-block;
    padding: 0;
    border-width: 0;
    margin: 0 5px 5px;
    &:not(.swatch-only-label){
      @include border-radius(50%);
      .swatch-anchor{
        max-width: 12px;
        max-height: 12px;
        @include border-radius(50%);
      }
    }
    &.swatch-only-label{
      .swatch-anchor {
        line-height: normal !important;
        min-height: 0 !important;
        min-width: 0 !important;
      }
    }
  }
}


.products-list{
  .product_item{
    width: 100%;
    .product_item--inner{
      margin-bottom: 70px;
      overflow: hidden;
    }
    .product_item--thumbnail{
      float: left;
      width: 32%;
    }
    .product_item--title{
      font-size: 20px;
      margin: 0 0 20px;
    }
    .price{
      font-size: 24px;
      margin-bottom: 20px;
      .amount {
        font-weight: 300;
      }
    }
    .product_item--info{
      text-align: left;
      padding-left: 30px;
      float: left;
      width: 68%;
      .add_to_cart_button{
        border: none;
        padding: 15px 50px;
        font-weight: bold;
        line-height: 24px;
        float: left;
        margin-bottom: 10px;
        margin-right: 10px;
        text-transform: uppercase;
        color: #fff;
        font-size: 11px;
        border-radius: 3em;
        transition: all 250ms ease-out;
      }
      .add_compare,
      .add_wishlist {
        float: left;
        font-size: 0;
        line-height: 0;
        position: relative;
        @extend %text-color-secondary;
        &:before{
          content: "\72";
          font-family: "pisces";
          text-transform: none;
          display: block;
          padding: 0;
          font-size: 16px;
          width: 40px;
          height: 54px;
          line-height: 54px;
          text-align: center;
          color: inherit;
        }
        &:hover{
          @extend %text-color-primary;
          &:after{
            content: attr(title);
            font-size: 12px;
            white-space: pre;
            position: absolute;
            top: -20px;
            font-weight: normal;
            text-transform: none;
            left: 50%;
            line-height: 1;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
          }
        }
        &:hover,
        &.added{
          color: $primary-color;
        }
      }
      .add_wishlist.added{
        &:before{
          content: "\67";
        }
      }
      .add_compare:before {
        content: "\76";
      }
    }
    .item--excerpt{
      display: block;
      margin-bottom: 20px;
      line-height: 24px;
      padding-top: 10px;
    }

  }
}


.products-list-mini{
  .product_item{
    .onsale{
      left: -15px;
      padding: 3px 14px;
      font-size: 12px;
      top: 15px;
    }
    .product_item--inner{
      margin-bottom: 20px;
      overflow: visible;
    }
    .product_item--thumbnail{
      width: 100px;
      float: left;
      margin-right: 20px;
      overflow: visible !important;
    }
    .product_item--info{
      padding-left: 0;
      float: none;
      width: 100%;
    }
    .product_item--title{
      font-size: 10px;
      text-transform: uppercase;
      margin: 0 0 5px;
      line-height: 18px;
    }
    .price{
      margin-bottom: 10px;
      font-size: 1em;
    }
    .star-rating{
      margin: 0;
      float: none;
    }
  }
}


/** Color & Effect **/

.product_item {
  .product_item--thumbnail {
    .wrap-addto {
      .button {
        color: $secondary-color;
        background-color: #fff;
        &.added,
        &:hover {
          color: #fff;
          background-color: $primary-color;
        }
      }
    }
    .add_to_cart_button{
      color: #fff;
      background-color: rgba($secondary-color, 0.9);
      @include single-transition();
      &:hover {
        color: #fff;
        background-color: $primary-color;
      }
    }
  }
}
.products-grid{
  .product_item{
    text-align: center;
    .product_item--thumbnail{
      &:hover{
        .wrap-addto {
          right: 15px;
          visibility: visible;
          opacity: 1;
        }
        .add_to_cart_button{
          bottom: 0;
          visibility: visible;
          opacity: 1;
        }
      }
    }
    .product_item--info{
      .product_item--action{
        display: none;
      }
      .la-swatch-control{
        margin-top: 10px;
        line-height: 0;
      }
    }
    .star-rating{
      margin-left: auto;
      margin-right: auto;
    }
  }
  &.products-grid-2{
    .item--overlay{
      background-color: #232324;
    }
    .product_item--inner{
      position: relative;
      &:hover{
        .item--overlay{
          opacity: 0.8;
          visibility: visible;
        }
        .product_item--thumbnail{
          .wrap-addto {
            right: 15px;
            visibility: visible;
            opacity: 1;
          }
          .add_to_cart_button{
            bottom: 0;
            visibility: visible;
            opacity: 1;
          }
        }
        .product_item--info{
          visibility: visible;
          margin-top: 0;
          opacity: 1;
        }
      }
    }
    .product_item--info{
      position: absolute;
      width: 100%;
      top: 45%;
      left: 0;
      color: #fff;
      visibility: hidden;
      opacity: 0;
      margin-top: 50px;
      @include translate2d(0, -50%);
      transition: margin 0.5s ease, opacity 0.2s ease, visibility 0.2s ease;
    }
    .product_item--title{
      color: inherit;
    }
  }
}


.product_item{
  &.thumb-has-effect{
    .product_item--thumbnail{
      overflow: hidden;
      img{
        transition: opacity 0.5s ease,transform 2s cubic-bezier(0, 0, 0.44, 1.18);
      }
      .wp-alt-image{
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
        transition: opacity 0.5s ease,transform 2s cubic-bezier(0, 0, 0.44, 1.18);
        opacity: 0;
      }
      .item--overlay{
        z-index: 2;
      }
      &:hover{
        .wp-post-image{
          opacity: 1;
          //@include scale(1.05);
        }
        .wp-alt-image{
          opacity: 1;
          //@include scale(1.15);
        }
      }
    }
  }
  &.thumb-no-effect{
    .product_item--thumbnail {
      overflow: hidden;
    }
    .item--overlay{
      transition: opacity 0.5s ease,transform 2s cubic-bezier(0, 0, 0.44, 1.18);
    }
  }
}


.la-shop-products .la-pagination {
  margin-top: 30px;
  margin-bottom: 30px;
}

.products-grid.la-isotope-container .product_item:not(.showmenow) {
  opacity: 0;
}