.la-sc-icon-boxes{
  .icon-heading{
    margin: 0;
  }
  .box-description{
    padding-top: 5px;
  }
  .box-icon{
    display: inline-block;
    img{
      vertical-align: top;
    }
  }
  .box-icon-style-circle{
    @include border-radius(50%);
  }
  .box-icon-style-round{
    @include border-radius(4px);
  }
  .wrap-icon{
    .box-icon{
      display: inline-block;
      vertical-align: middle;
      overflow: hidden;
      max-width: 100%;
      &,
      span{
        @include single-transition();
      }
      span{
        display: inline-block;
        line-height: 30px;
        font-size: 30px;
        width: 30px;
        height: 30px;
        text-align: center;
        vertical-align: middle;
        i{
          display: block;
        }
      }
    }
  }
  .box-heading-top{
    .box-heading,
    .box-icon-heading{
      display: table-cell;
      vertical-align: middle;
    }
  }
  .box-icon-left,
  .box-icon-right{
    display: table-cell;
    line-height: 0;
    vertical-align: top;
    padding-top: 5px;
  }
  &.icon-pos-left,
  &.icon-pos-right{
    .box-contents{
      display: table-cell;
      vertical-align: top;
    }
    .box-description{
      padding-top: 10px;
    }
  }
  &.icon-pos-default .box-icon-heading,
  .box-icon-left{
    padding-right: 30px;
  }
  &.icon-pos-heading-right .box-icon-heading,
  .box-icon-right{
    padding-left: 30px;
  }
  &.icon-pos-top{
    .icon-heading{
      margin-top: 15px;
    }
  }
  &.list-icon{
    margin-bottom: 10px;
    .box-icon-heading{
      padding-#{$global-right}: 15px;
    }
    .icon-heading{
      color: inherit;
      font-family: inherit;
    }
  }
  &.icon-type-img{
    .wrap-icon .box-icon span {
      height: auto !important;
      line-height: 0 !important;
      text-align: center;
      max-width: 100%;
      img{
        width: auto;
      }
    }
  }
  &.iconbg-gradient .wrap-icon .box-icon,
  &.icontext-gradient .wrap-icon .box-icon span{
    background-size: 200% 100%;
  }
}

.list-icon-check ul{
  list-style: none;
  padding-left: 0;
  > li{
    margin-bottom: 10px;
    &:before{
      content: "\f00c";
      font-family: FontAwesome;
      font-size: 12px;
      padding-right: 15px;
    }
  }
}