.la-pricing-box-wrap{
	.pricing-badge {
		position: absolute;
		background: #066ab0;
		color: #fff;
		font-size: 12px;
		left: -10px;
		top: 55px;
		padding: 8px 10px 8px 15px;
		line-height: normal;
		min-height: 30px;
		&:after{
			content: "";
			border-left: 10px solid transparent;
			border-right: 0 solid transparent;
			border-top: 13px solid #066ab0;
			position: absolute;
			left: 0;
			top: 100%;
			opacity: 0.7;
		}
	}
}
.la-pricing-box{
	position: relative;
	background-color: #fff;
	.pricing-heading{
		font-size: 16px;
		font-weight: bold;
	}
	.desc-features{
		padding: 20px 30px;
	}
	.wrap-icon{
		.icon-inner{
			width: 40px;
			height: 40px;
			line-height: 40px;
			font-size: 40px;
			margin: 0 auto;
			@include border-radius(50%);
			img{
				width: auto;
			}
			i{
				vertical-align: middle;
			}
		}
	}
	.price-box{
		.price-value{
			display: inline-block;
			font-size: 30px;
			line-height: 100%;
			position: relative;
			font-weight: bold;
			margin-right: 5px;
			sup{
				font-size: 50%;
				vertical-align: top;
				top: 0.3em;
				line-height: 100%;
			}
		}
		.price-unit{
			display: inline-block;
		}
	}
	.package-features{
		padding: 0;
		ul{
			margin: 0;
			padding: 0;
			list-style: none;
		}
		li{
			padding: 15px;
		}
		i{
			padding: 0 5px;
		}
	}
	.pricing-action{
		a{
			display: inline-block;
			@include single-transition();
		}
	}
}
.la-pricing-box-wrap.style-1{
	.la-pricing-box{
		text-align: center;
		border: 1px solid #dedede;
		@include border-radius(25px);
		@include box-shadow(0px 0px 38px 0px rgba(52, 64, 83, 0.1));
	}
	.pricing-heading-wrap{
		margin-top: 25px;
	}
	.wrap-icon{
		position: absolute;
		top: 0;
		width: 100%;
	}
	.price-box{
		margin-bottom: 15px;
		margin-top: 20px;
	}
	.pricing-heading{
		margin-bottom: 10px;
		font-size: 24px;
		@extend %text-color-secondary;
	}
	.before-features{
		padding-top: 0;
	}
	.pricing-action{
		margin-top: 20px;
		a {
			color: #fff;
			background-color: $primary-color;
			padding: 10px 40px;
			@include border-radius(3em);
			@include translate2d(0,50%);
		}
	}
	.la-pricing-box:hover{
		.pricing-action{
			a{
				color: #fff;
				background-color: darken($primary-color, 20%);
			}
		}
	}
}
.la-pricing-box-wrap.style-2{
	.la-pricing-box{
		border: 1px solid #dedede;
		padding: 30px 30px 0;
		&:before{
			content: "";
			width: 5px;
			height: 35px;
			left: 0;
			position: absolute;
			top: 35px;
			background-color: $secondary-color;
		}
	}
	.price-box .price-value sup{
		font-size: inherit;
		top: 0;
		line-height: inherit;
	}
	.pricing-badge{
		display: none;
	}
	.package-features{
		border-top: 1px solid #dedede;
		text-align: center;
		margin-top: 20px;
		padding-top: 20px;
	}
	.package-features li,
	.desc-features{
		padding-left: 0;
		padding-right: 0;
	}
	.pricing-heading{
		margin-bottom: 10px;
	}
	.before-features{
		padding-top: 15px;
		padding-bottom: 5px;
	}
	.pricing-action{
		margin-left: -31px;
		margin-right: -31px;
		margin-bottom: -1px;
		margin-top: 30px;
		a{
			display: block;
			text-align: center;
			font-size: 11px;
			padding: 13px 20px;
			font-weight: bold;
			letter-spacing: 1px;
			color: #fff;
			background-color: $secondary-color;
		}
	}
	&.is_box_featured .la-pricing-box,
	.la-pricing-box:hover{
		@include box-shadow(0px 0px 38px 0px rgba(52, 64, 83, 0.1));
		&:before{
			background-color: $primary-color;
		}
		.pricing-action{
			a{
				color: #fff;
				background-color: $primary-color;
			}
		}
	}
}
.la-pricing-box-wrap.style-3{
	.la-pricing-box{
		border: 1px solid #dedede;
		text-align: center;
	}
	.price-box .price-value{
		font-weight: normal;
	}
	.pricing-heading-wrap{
		position: relative;
		background-color: #f7f7f7;
		margin: -1px;
		padding: 20px;
		@include single-transition();
		&:before{
			content: "";
			border-width: 12px 10px 0;
			border-style: solid;
			border-color: #f7f7f7 transparent transparent transparent;
			position: absolute;
			top: 100%;
			left: 50%;
			margin-left: -10px;
			@include single-transition();
		}
	}
	.pricing-badge{
		display: none;
	}
	.pricing-heading{
		font-size: 18px;
		font-weight: normal;
	}
	.package-features {
		padding: 20px 0;
	}
	.pricing-action{
		margin-bottom: 45px;
		a {
			font-weight: bold;
			color: $secondary-color;
			border: 2px solid #e7e7e7;
			padding: 14px 40px;
			@include border-radius(3em);
		}
	}
	.la-pricing-box:hover{
		.pricing-heading-wrap{
			*{
				color: #fff !important;
			}
		}
	}
}